# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
data/*.db
data/*.db-shm
data/*.db-wal

# Streamlit
.streamlit/

# Visual Studio Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Sistema operativo
Thumbs.db
.DS_Store