# Entorno virtual
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
programador_planta.db
*.db-journal
*.db-shm
*.db-wal

# Copias de seguridad
*_backup*
*backup*
*.bak

# Logs
logs/
*.log

# Herramientas
.ruff_cache/
.vulture_cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Archivos temporales
*.tmp
*.temp
~$*